

/*******************************************************************************
 *                                                                             *
 * Button                                                                      *
 *                                                                             *
 ******************************************************************************/

.button {
    -fx-background-color: transparent;
    -fx-shadow-highlight-color: transparent;

    -fx-background-insets: 0 0 -1 0, 0, 1, 2;

    -fx-background-radius: 5, 5, 4, 3;
    -fx-outer-border: 0;
               -fx-inner-border: 0;
               -fx-border-color: transparent;


    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

.button:focused {
    -fx-background-color: rgba(200,200,200, .2);
    -fx-shadow-highlight-color: transparent;
    -fx-outer-border: 0;
               -fx-inner-border: 0;
               -fx-border-color: transparent;

    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

.button:hover {
       -fx-background-color: rgba(220,220,220, .2);
       -fx-shadow-highlight-color: transparent;
       -fx-outer-border: 0;
           -fx-inner-border: 0;
           -fx-border-color: transparent;

       -fx-text-fill: -fx-text-base-color;
       -fx-alignment: CENTER;
       -fx-content-display: LEFT;
}

.button:armed {
    -fx-color: -fx-pressed-base;
}

.button:cancel {
}

.button:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

.button:show-mnemonics > .mnemonic-underline {
    -fx-stroke: -fx-text-fill;
}


/*******************************************************************************
 *                                                                             *
 * Accordion                                                                   *
 *                                                                             *
 ******************************************************************************/

.accordion > .titled-pane > .title {
    -fx-background-color:
        -fx-box-border,
        -fx-inner-border,
        -fx-body-color;
    -fx-background-insets: -1 0 0 0, 0 1 1 1, 1 2 2 2;
    -fx-background-radius: 0, 0, 0;
}

.accordion > .first-titled-pane > .title {
    -fx-background-insets: 0, 1, 2;
}

.accordion > .titled-pane:focused > .title {
    -fx-color: -fx-focus-color;
}

.accordion > .titled-pane:focused {
    -fx-text-fill: white;
}

.accordion > .titled-pane:focused > .title > .arrow-button > .arrow {
    -fx-background-color: white;
}

.accordion > .titled-pane:focused > .titled-pane:collapsed > .title > .arrow-button > .arrow {
    -fx-background-color: white;
}

.accordion > .titled-pane:collapsed:focused > .title {
    -fx-color: -fx-focus-color;
}

.accordion > .titled-pane:expanded:focused > .title {
    -fx-color: -fx-focus-color;
}

.accordion > .titled-pane:hover > .title {
    -fx-color: -fx-hover-base;
}



/*******************************************************************************
 *                                                                             *
 * TreeTableView                                                               *
 * Note: A lot of the CSS for TreeTableView is included with the TreeView and  *
 * TableView CSS styles elsewhere in caspian.css (as they are the same, just   *
 * targeting different CSS style classes).                                     *
 ******************************************************************************/



/*******************************************************************************
 *                                                                             *
 * TreeTableView cell spanning                                                 *
 *                                                                             *
 ******************************************************************************/

 End of hover styles */

/********************************************************************************
 *                                                                              *
 * HTMLEditor                                                                   *
 *                                                                              *
 ********************************************************************************/


/* Note: The Separator is constructed of a 1-pixel shape
whose borders are styled.  Only the right border is specified
with a color; the other three borders are transparent.*/

/* Note: This first section of CSS (below) specifies the Separator’s color.
Specifying the color here ensures the same color for both .top-toolbar
and .bottom-toolbar Separators, as they will inherit the color. */


/* Note: This next section of CSS (below) specifies the Separator’s length.
The length of the Separator is determined by adding its -fx-padding values
to the top and bottom -fx-padding values of the parent toolbar. */



/*******************************************************************************
 *                                                                             *
 * Spinner                                                                     *
 *                                                                             *
 ******************************************************************************/



/*******************************************************************************
 *                                                                             *
 * Dialog                                                                      *
 *                                                                             *
 ******************************************************************************/





.color-picker{
    -fx-background-color: #8dbad6;
    -fx-shadow-highlight-color: #99c3dd;
    -fx-outer-border: 1;
    -fx-inner-border: 1;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}
.color-picker:focused{
    -fx-background-color: #ff8c3f;
           -fx-shadow-highlight-color: #e07b38;
           -fx-outer-border: 1;
           -fx-inner-border: 1;
           -fx-background-insets: 0 0 -1 0, 0, 1, 2;
           -fx-background-radius: 5, 5, 4, 3;
           -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
           -fx-text-fill: -fx-text-base-color;
           -fx-alignment: CENTER;
           -fx-content-display: LEFT;
}

.color-picker:hover {
       -fx-background-color: #ff8c3f;
       -fx-shadow-highlight-color: #e07b38;
       -fx-outer-border: 1;
       -fx-inner-border: 1;
       -fx-background-insets: 0 0 -1 0, 0, 1, 2;
       -fx-background-radius: 5, 5, 4, 3;
       -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
       -fx-text-fill: -fx-text-base-color;
       -fx-alignment: CENTER;
       -fx-content-display: LEFT;
}